<footer class="footer">

  <div class="pure-menu pure-menu-horizontal">

    <h2 class="footer-heading">{{ site.title }}</h2>

        <ul>
          <li class="pure-menu-item"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github.username %}
          <li class="pure-menu-item">
            {% include icon-github.html username=site.github.username %}
          </li>
          {% endif %}
          {% if site.bitbucket.username %}
          <li class="pure-menu-item">
            {% include icon-bitbucket.html username=site.bitbucket.username %}
          </li>
          {% endif %}
          {% if site.twitter.username %}
          <li class="pure-menu-item">
            {% include icon-twitter.html username=site.twitter.username %}
          </li>
          {% endif %}
          {% comment %}
          <li class="pure-menu-item">
            <p>{{ site.description }}</p>
          </li>
          {% endcomment %}
        </ul>

  </div>

</footer>
